

  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: beige;
  }


  #btn:hover {
    background-color: darkslategrey;

  }
  #btn{
    box-shadow: 2px 3px 0 black;
  }

  #operations{
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    box-shadow: 2px 3px 0 black;
  }

  #operations:hover{
    background-color: orangered;
  }

  @media (max-width: 400px){
    #form{
      width: 200px;
    }
  }


  #wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }